<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Характеристики хоста {{ ansible_facts['hostname'] }}</title>
</head>
<body>
    <h1>Системные характеристики управляемого узла</h1>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <td><strong>Имя хоста (Hostname)</strong></td>
            <td>{{ ansible_facts['hostname'] }}</td>
        </tr>
        <tr>
            <td><strong>Процессор (CPU)</strong></td>
            <td>{{ ansible_facts['processor_vcpus'] }} vCPU</td>
        </tr>
        <tr>
            <td><strong>Оперативная память (RAM)</strong></td>
            <td>{{ ansible_facts['memtotal_mb'] }} MB</td>
        </tr>
        <tr>
            <td><strong>Первый HDD (Емкость)</strong></td>
            <td>
                {% if ansible_facts['devices']['sda'] is defined %}
                    {{ ansible_facts['devices']['sda']['size'] }}
                {% elif ansible_facts['devices']['vda'] is defined %}
                    {{ ansible_facts['devices']['vda']['size'] }}
                {% else %}
                    Размер не определен (Диск не sda/vda)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>IP-адрес (IPv4)</strong></td>
            <td>{{ ansible_facts['default_ipv4']['address'] | default('Нет IP') }}</td>
        </tr>
    </table>
</body>
</html>
